@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
  /* weights : 400 , 700 */
}

:root {
  --very-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  /* gradient */
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  /* text color */
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  /* divider */
  --light-grayish-blue: hsl(240, 5%, 91%);
}

body {
  background-image: linear-gradient(
    45deg,
    var(--soft-blue),
    var(--soft-violet)
  );
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  width: 1080px;
  height: 600px;
  border-radius: 30px;
  display: flex;
  position: relative;
}

.illustration {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.illustration > * {
  position: absolute;
}

.box {
  position: absolute;
  top: 50%;
  left: -8%;
  overflow: visible;
  z-index: 1;
}

.lady {
  top: 21%;
  left: -19%;
  width: 550px;
}

.pattern {
  top: -35%;
  left: -95%;
}

.faq {
  flex: 1;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--very-desaturated-blue);
  margin-bottom: 1rem;
}

.shown-content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-grayish-blue);
  margin-block: 24px;
}

.hidden-content {
  display: none;
  color:var(--dark-grayish-blue);
}

.faq-content {
  width: 408px;
  margin: 12px;
}

.active {
  font-weight: 700;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.question:hover {
  color: var(--soft-red);
  cursor: pointer;
}

.question {
  color: var(--very-dark-grayish-blue);
  padding-block: 12px;
}
